.lista-empleados{

    display:none;

    background:#fff;

    border:1px solid #d0d7de;

    border-radius:8px;

    max-height:220px;

    overflow-y:auto;

    margin-top:5px;

}

.item-empleado{

    padding:10px 12px;

    color:#222;

    background:#fff;

    cursor:pointer;

    border-bottom:1px solid #eee;

    font-size:14px;

}

.item-empleado:hover{

    background:#0d6efd;

    color:#fff;

}
.tabla-horas {
    width: 95%;
    margin: auto;
    border-collapse: collapse;
}

.tabla-horas th {
    font-size: 11px;
    padding: 5px;
    text-align: center;
}

.tabla-horas td {
    font-size: 11px;
    padding: 5px;
    text-align: center;
}
/*========================================
   TABLA HORAS LABORADAS
========================================*/

.tabla-horas {

    width: 95%;

    margin: auto;

    border-collapse: collapse;

}


.tabla-horas th {

    font-size: 11px;

    padding: 5px;

    text-align: center;

    vertical-align: middle;

}


.tabla-horas td {

    font-size: 11px;

    padding: 5px;

    text-align: center;

}